* {
    font-size: 12px;
    font-family: Pragmata Pro;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #292b2e;
    background: #1a1a1a;
}

#workspaces,
#pulseaudio,
#custom-fs,
#custom-betterclock,
#custom-keyset,
#network,
#backlight,
#memory,
#cpu,
#mpd,
#temperature,
#custom-waybar-mpris,
#battery {
    background: #1a1a1a;
}

#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color: #268bd2;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #1a1a1a;
    border: #1a1a1a;
    padding: 0 3px;
}

#pulseaudio {
    color: #6bb9f0;
}
#backlight {
    color: #b58900;
}
#memory {
    color: #baf73c;
}
#temperature {
    color: #b58900;
}
#cpu {
    color: #d252b2;
}
#network {
    color: #00fa9a;
}
#custom-fs {
    color: #e7903c;
}
#custom-keyset {
    color: #f1f227;
}
#battery {
    color: #00e0e0;
}

#custom-betterclock,
#custom-fs,
#custom-keyset,
#network,
#window,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#mpd,
#custom-waybar-mpris,
#tray {
    padding: 0 10px;
}
